ion-header {
    ion-toolbar {
      --min-height: 50px;
      height: 50px;
    }
}

ion-content{
    color: var(--theme-content-bg);
}
.user-img{
    margin: 5px 0 5px;
    text-align: center;

    img{
        display: inline-block;
        width: 40px;
    }
}
p{
--color: var(--theme-color-3);
    text-align: center; 
    margin: 10px 0 10px; 
    font-size: 14px;
}

.btn-div{
    text-align: center;
    ion-button{
        display: inline-block; 
        width: 200px; 
        --border-radius:8px; 
        height: 48px; 
        font-size: 17px; 
        font-weight: 500;
        margin: 0 0 10px;

        &.button-outline{

        }
    }
    .btn-back{
        --background: var( --button-primary-bg);
--background-activated: var(--button-primary-bg);
--background-hover: var(--button-primary-bg);
        --color:#fff;
    }
    .btn-delete{   
       --background: var( --button-primary-bg);
--background-activated: var(--button-primary-bg);
--background-hover: var(--button-primary-bg);    
        --color: #fff;
    }
}







/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****/
@media only screen 
and (min-device-width: 768px) 
and (min-device-height: 1024px) 
// and (max-device-width: 1024px) 
// and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2){

    .user-img{
        margin: 10px 0 10px;    
        img{
            width: 60px;
        }
    }
    p{ 
        margin: 10px 0 15px; 
        font-size: 21px;  
    }

    .btn-div ion-button {
        width: 350px; 
        height: 58px; 
        font-size: 24px;
    }



}