ion-header {
    ion-toolbar {
      --min-height: 50px;
      height: 50px;
    }
}

ion-button{  
    display: inline-block; 
    font-size: 15px;
    font-weight: 600;
    --border-radius: 6px;
    height: 48px;
    margin: 0 0;
    width: 50%;

    &.close{
        --background:transparent;
        --color: var(--theme-color-1);
        font-size: 20px;
        font-weight: 600;
        width: auto;
        height: auto;
        margin-top: -5px;
        margin-right: -5px;
        margin-bottom: -10px;

        &::part(native){
            padding: 0 0;
        }
    }
}
ion-content{
    color: var(--theme-content-bg);
}
.user-img{
    margin: 0 0 6px;
    text-align: center;

    img{
        display: inline-block;
        width: 40px;
    }
}
p{
    color: var(--theme-color-2); 
    text-align: center; 
    margin: 10px 0 10px; 
    font-size: 14px;
}

.btn-div{
    text-align: center;
    ion-button{
        display: inline-block; 
        width: 200px; 
        --border-radius:8px; 
        height: 48px; 
        font-size: 17px; 
        font-weight: 500;
        margin: 0 0 10px;

        &.button-outline{
        }
    }
    .btn-back{
      --background: var( --button-primary-bg);
--background-activated: var(--button-primary-bg);
--background-hover: var(--button-primary-bg);
        --color:#fff;
    }
    .btn-delete{   
  --background: var( --button-primary-bg);
--background-activated: var(--button-primary-bg);
--background-hover: var(--button-primary-bg);   
        --color: #fff;
    }
}





/**************************************************************/
/***** iPad 11, iPad Pro, iPad mini ****/
@media only screen 
and (min-device-width: 768px) 
and (min-device-height: 1024px) 
// and (max-device-width: 1024px) 
// and (max-device-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 2){

    .user-img{
        margin: 0 0 10px;    
        img{
            width: 60px;
        }
    }
    p{ 
        margin: 10px 0 15px; 
        font-size: 21px;  
    }

    .btn-div ion-button {
        width: 350px; 
        height: 58px; 
        font-size: 24px;
    }

    ion-button{  
        &.close{
        font-size: 26px;
        margin-top: 0px;
        }
    }



}
